<div class='row flex-nowrap h-100 mx-0' style='max-height: 100vh'>
    <div id='chatList' class="col-4 list-group list-group-flush p-0 border-end overflow-auto"></div>
    <div class='col d-flex flex-column p-0'>
        <div class='d-flex px-3 py-2 border-bottom'>
            <a href='#' id='chatHeaderLink' class='btn text-start lh-1 text-nowrap' data-link>
                <span class="chat-header-visible-name fw-bold">...</span><br>
                @<span class="chat-header-username text-muted">...</span>
            </a>
            <fieldset id='messageBoardButtons' class='ms-auto' disabled>
                <button type="button" id='btnEditMessage' class='btn' data-bs-toggle='collapse' data-bs-target='#messageEditCollapse'><i class='bi-pencil-fill'></i></button>
                <button class='btn'  data-bs-toggle='modal' data-bs-target='#deleteMessageConfirmModal'><i class='bi-trash-fill'></i></button>
            </fieldset>
        </div>
        <!-- TODO: fix collapsing top margin -->
        <div id='messageBoard' class='flex-grow-1 d-flex flex-column-reverse gap-2 pt-5 px-3 pb-3 overflow-auto'></div>
        <div>
            <div id='messageEditCollapse' class="collapse px-3 py-2 border-top">
                <div class='d-flex justify-content-between py-1'>
                    <span><i class="bi-pencil-square me-2"></i>Editando Mensagem:</span>
                    <button type='button' id='messageEditCloseBtn' class='btn-close' aria-label='Close'
                            data-bs-toggle='collapse' data-bs-target='#messageEditCollapse'></button>
                </div>
                <div id="messageEditText" class='text-muted overflow-auto' style='max-height: 5em'></div>
            </div>
            <form action='#' id='formSendMessage' class='d-flex gap-2 p-2 border-top align-items-center' novalidate>
                <textarea name="text" class='form-control' rows='1' placeholder='Escreva uma mensagem...' style='resize: none'></textarea>
                <button type='submit' class='btn btn-primary'><i class='bi-cursor-fill'></i></button>
            </form>
        </div>
    </div>
</div>

<div class='modal fade' id='deleteMessageConfirmModal' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Deletar Mensagem</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Você tem certeza que quer deletar essa mensagem?<br>
                Esta operação não poderá ser desfeita
                <!-- TODO: insert a confirmation input -->
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-outline-secondary' data-bs-dismiss='modal'>Cancelar</button>
                <button type='button' id='btnDeleteMessage' class='btn btn-danger'>Deletar Mensagem</button>
            </div>
        </div>
    </div>
</div>

<template id="chatListItemTemplate">
    <button class='chat-list-item list-group-item list-group-item-action d-flex align-items-center border-bottom'
            title=':VISIBLE_NAME' data-id=':CHAT_USER_ID'>
        <img src="/images/default_profile_picture.jpg" alt="" class="profile-picture-sm rounded-circle me-3">
        <span class='chatListItemVisibleName d-inline-block text-truncate fw-bold'>:VISIBLE_NAME</span>
    </button>
</template>

<template id='messageReceivedTemplate'>
    <div class='message message-received align-self-start text-light bg-secondary px-3 py-2 rounded-end rounded-top me-5'
         title=':TOOLTIP_TEXT' data-id=':ID' data-created-at=':CREATED_AT' data-last-edited-at=':LAST_EDITED_AT'>
        <div class='message-text'>:TEXT</div>
        <div class='small text-start'>:INFO</div>
    </div>
</template>

<template id='messageSentTemplate'>
    <div class='message message-sent align-self-end text-light bg-secondary px-3 py-2 rounded-start rounded-top ms-5'
         title=':TOOLTIP_TEXT' data-id=':ID' data-selected='false'>
        <div>:TEXT</div>
        <div class='small text-end'>:INFO</div>
    </div>
</template>